
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="accueil">
      <ion-icon name="home"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="musique">
      <ion-icon name="musical-notes"></ion-icon>
      <ion-label>Musique</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="apropos">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>A Propos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

